# .NET
**/bin/
**/obj/
**/.vs/
*.user
*.suo
*.cache
*.dll
*.nupkg
*.snupkg
.DS_Store

# ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/

# Storage
**/storage/

# Logs
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# React Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# MacOS
.DS_Store
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
